/* 
FILENAME: styles.css
DESCRIPTION: This stylesheet serves global declarations to Student Driver
AUTHOR: Matthew Anderson => http://matthew-anderson.net
*/

body {
  background: #111;
  color: #fff;
  font: normal 16px/20px 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

/* =LAYOUT */

nav {
  margin: 0 auto;
  width: 960px;
}

nav ul {
  padding: 10px;
}

section {
  margin: 0 auto;
  width: 960px;
}

/* =LOGO */

h1 a {
/*  background: url("../images/logo.png") 50% no-repeat;*/
  display: block;
  height: 100px;
  margin: 0 auto;
  opacity: .6;
  width: 100px;
}