/*
FILENAME: styles.css
DESCRIPTION: This stylesheet serves global declarations to Student Driver
AUTHOR: Matthew Anderson => http://matthew-anderson.net
*/

/* =FLOATS */

section ul:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}

/* =BASE */

body {
  background: #111 url("../images/bg.png");
  color: #fff;
  font: normal 13px/20px 'Helvetica Neue', sans-serif;
  text-align: center;
}

a { text-decoration: none; }

/* =LAYOUT */

nav {
  background: rgba(255, 255, 255, .9);
  height: 100px;
  margin: 0 auto;
}

nav ul {
  display: none;
  padding: 10px;
}

aside {
  background: rgba(255, 255, 255, .7);
  padding: 10px 0;
}

section {
  margin: 0 auto;
  padding: 3px 0;
  text-align: center;
  max-width: 320px;
}

section li {
  float: left;
  margin: 3px;
  text-align: justify;
  width: 314px;
}

article {
  background: rgba(255, 255, 255, .1);
  height: 108px;
  padding: 10px;
}

.media article {
  overflow: hidden;
  padding: 0;
}

.media img {
  display: block;
  max-width: 100%;
}

/* =LOGO */

h1 a {
  display: block;
  height: 100px;
  margin: 0 auto;
  opacity: .6;
  width: 100px;
}

/* =LAYOUTS */

@media (min-width: 726px) {
  nav, aside {
    left: 0;
    position: fixed;
    right: 0;
  }
  nav { top: 0; }
  aside { bottom: 0; }
  section {
    padding: 103px 0 43px 0;
    padding: 103px 0 143px 0;
    max-width: 720px;
    position: relative;
    z-index: -1;
  }
  section li { width: 234px; }
  .photo { width: 474px; }
  .video { width: 714px; }
  .photo article { height: 262px; }
  .video article { height: 396px; }
}

@media (min-width: 966px) { section { max-width: 960px;} }
@media (min-width: 1206px) { section { max-width: 1200px;} }
@media (min-width: 1446px) { section { max-width: 1440px;} }
@media (min-width: 1686px) { section { max-width: 1680px;} }

/* =TRANSITIONS */

.masonry, .masonry .masonry-brick {
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.masonry {
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  -webkit-transition-property: height, width;
  transition-property: height, width;
}

.masonry .masonry-brick {
  -moz-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  -webkit-transition-property: left, right, top;
  transition-property: left, right, top;
}