/* 
FILENAME: styles.css
DESCRIPTION: This stylesheet serves global declarations to Student Driver
AUTHOR: Matthew Anderson => http://matthew-anderson.net
*/

body {
  background: #111 url("../images/bg.png");
  color: #fff;
  font: normal 13px/20px 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

/* =LAYOUT */

nav {
  background: rgba(255, 255, 255, .2);
  height: 100px;
  margin: 0 auto;
  left: 0;
  position: fixed;
  right: 0;
}

nav ul {
  padding: 10px;
}

section {
  margin: 0 auto;
  padding-top: 110px;
  width: 960px;
}

section li {
  float: left;
  margin: 3px;
  text-align: justify;
  width: 234px;
}

section li.photo { width: 474px; }

article {
  background: rgba(255, 255, 255, .1);
  min-height: 200px;
  padding: 10px;
}

.photo article { min-height: 400px; }

/* =LOGO */

h1 a {
/*  background: url("../images/logo.png") 50% no-repeat;*/
  display: block;
  height: 100px;
  margin: 0 auto;
  opacity: .6;
  width: 100px;
}